        <%- contentFor('body') %>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 booking-manage">
                        <h2 class="pb-3 bb">Manage Bookings</h2>
                        
                        <% if(typeof bookings !== 'undefined' && bookings != null) { %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="hidden-xs">Property Name</th>
                                    <th class="hidden-xs">User ID</th>
                                    <th class="hidden-xs">Booking Period</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% bookings.forEach(booking => { %>
                                <tr>
                                    <td><%= booking.id %></td>
                                    <td class="hidden-xs"><%= booking.name %></td>
                                    <td class="hidden-xs"><%= booking.user_id %></td>
                                    <td class="hidden-xs"><%= booking.cstart_date %> to <%= booking.cend_date %></td>
                                    <td><%= booking.status == 0 ? status= "Pending" : (booking.status == 2 ? status = "Paid" : (booking.status == 3 ? status = "Completed" : status = "Approved")); %></td>
                                    <td>
                                        <div class="form-row">
                                            <form method="post" action="/manage-bookings/<%= booking.id %>">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <span class=" d-block d-xl-inline-block" data-toggle="tooltip" data-placement="bottom" title="Approve - if status pending!" tabindex="0">
                                                    <button class="btn btn-success d-block d-xl-inline-block" name="accept" value="accept" type="submit" <%= status != 'Pending' ? 'style=pointer-events:none; disabled' : '' %>>
                                                        <span class="icon-check2"></span>
                                                    </button> 
                                                </span>
                                                <span class=" d-block d-xl-inline-block" data-toggle="tooltip" data-placement="bottom" title="Decline - if status pending!" tabindex="0">
                                                    <button class="btn btn-danger d-block d-xl-inline-block" name="decline" value="decline" type="submit" <%= status != 'Pending' ? 'style=pointer-events:none; disabled' : '' %>>
                                                        <span class="icon-close2"></span>
                                                    </button> 
                                                </span>
                                                <span class=" d-block d-xl-inline-block" data-toggle="tooltip" data-placement="bottom" title="Paid - if status approved!" tabindex="0">
                                                    <button class="btn btn-dark d-block d-xl-inline-block" name="paid" value="paid" type="submit" <%= status != 'Approved' ? 'style=pointer-events:none; disabled' : '' %>>
                                                        <span class="icon-dollar"></span>
                                                    </button>
                                                </span>
                                                <span class=" d-block d-xl-inline-block" data-toggle="tooltip" data-placement="bottom" title="Invoice - allowed once if status approved!" tabindex="0">
                                                    <button class="btn btn-warning d-block d-xl-inline-block" name="invoice" value="invoice" type="submit" <%= booking.status != 1 ? 'style=pointer-events:none; disabled' : '' %>>
                                                        <span class="icon-file-o"></span>
                                                    </button>
                                                </span>                                                                                                
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <% } else { %><%= "No bookings found!" %><% } %>
                    </div>
                </div>
            </div>
        </div>